.bs-insert-category-tool {
	font-size: 14px;
}

.bs-category-label {
	padding: 0 1rem;
}

#bs-category-link-edit {
	font-size: 0.7rem;
	line-height: 24px;
	visibility: hidden;
}

.bs-insert-category-tool:hover > #bs-category-link-edit {
	visibility: visible;
}
.bs-insert-category-tool:hover > #bs-category-link-edit.isDisabled {
	visibility: hidden;
}

.icon-category-tag-outline.isDisabled,
.icon-category-tag-outline.isDisabled:hover {
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.8;
	text-decoration: none;
}
